
{{#themed-syntax lang="html" theme="dark"}}&lt;script src="https://www.demonstration.com/embed/widget.js"&gt;&lt;/script&gt;
&lt;/script&gt;
var token="{{token}}";
&lt;/script&gt;
{{/themed-syntax}}
<a class="button is-pulled-right">{{fa-icon 'copy'}} copy code</a>