
<div class="columns is-multiline">
  <div class="column is-half">
    <p>The easiest way to start collecting subscribers to this trigger is to add this embedded JavaScript to your page.</p>
  </div>
  <div class="column is-half">
  <p style="margin-bottom: 15px;">Your page should look like this when completed. You can edit this message.</p>
  </div>
  <div class="column is-half">
    {{code-panel token=model.embedToken}}
  </div>

  <div class="column is-half">
    {{widget-demo message=model.embedMessage}}
  </div>
</div>